Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
s ='Hello'
l = [1,2,3,True,'hi',3.3]
f = 3.3
tup = ('hello','hi')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1

string
string
list
integer

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

 (i) / - give quotient of two numbers upto decimal places ex- 3/3=1.0 (ii) % - give reminder of two numbers ex-3%2=1 (iii) //- give quotient but only integer places ex-3/3=1 (iv) ** - it is used for calculating exponential of one on another number ex-3**3=27

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [4]:
l = [1,2,3,4.4,True,False,7,"Vibhor","Lucknow",10.0]
for i in l:
    print(i)

1
2
3
4.4
True
False
7
Vibhor
Lucknow
10.0

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
a = int(input("Enter First Number"))
b = int(input("Enter Second Number"))
c = 0              
if a/b==0:
              while(a/b>=b and type(a/b)==int):
                c=c+1
                a=a/b
              c
else:
  print("Not divisible")

Enter First Number 20
Enter Second Number 5

Not divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [12]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l: 
    if i%3==0:
        print(i)
    else:
        pass

3
6
9
12
15
18
21
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

The mutable objects can be changed to any value or state without adding a new object. Whereas, the immutable objects can not be changed to its value or state once it is created.In pyhton list is an example of mutable data type and string is an example of immutable data type

In [13]:
l =[1,2,3,4,5]
l[1]

2

In [14]:
l[1]=1
print(l)

[1, 1, 3, 4, 5]

In [15]:
s = "vibhor"
s[1]

'i'

In [16]:
s[1] = 2
print(str)

TypeError: 'str' object does not support item assignment